In [1]:
# Modules
import pandas as pd
import numpy as np

In [2]:
#set path for file
file="Resources/purchase_data.csv"

In [3]:
#Read data file with pandas library
file_df=pd.read_csv(file)

In [4]:
heroes_df = pd.DataFrame(file_df,columns = ["SN", "Age", "Gender","Item ID", "Item Name", "Price"])
heroes_df.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,Ithergue48,24,Male,92,Final Critic,4.88
3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,Iskosia90,23,Male,131,Fury,1.44

In [5]:
#Find the total number of rows in the dataframe
index=file_df.index
totalrows=len(index)
print(totalrows)

780

In [6]:
#find the total number of players
total_players=len(file_df["SN"].value_counts())
total_players

576

In [7]:
#Create a date frame for the total number of players
number_of_players=pd.DataFrame({"Total Players":[total_players]})
number_of_players

   Total Players
0            576

In [8]:
#find the number of unique items, average price, number of purchases, and total revenue
total_uitems=len(file_df["Item ID"].unique())
total_uitems
avg_price=round(file_df["Price"].mean(),2)
avg_price
total_purchases=(file_df["Purchase ID"].count())
total_purchases
total_revenue=(file_df["Price"].sum())
total_revenue

2379.77

In [9]:
#put above data in a dataframe
summary_df=pd.DataFrame({"Number of Unique Items": [total_uitems], "Average Price": [avg_price], "Number of Purchases":[total_purchases], "Total Revenue":[total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [10]:
#format the summary table using currency
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': "${:,.2f}"})

In [12]:
#Find information about Gender

df = file_df.set_index("Gender")
df
gender_stats = file_df.groupby("Gender")
# Then narrow the search further by eliminating repeating users - total number of male, female, and other
gender_total = gender_stats["SN"].nunique()
gender_total
#find the percentage of male, female, and other players
percent_players =gender_total/total_players*100
percent_players

#create a dataframe for gender stats
gender_demographics=pd.DataFrame({"Total Count":[gender_total], "Percentage of Players": [percent_players]})
gender_demographics

,Total Count,Percentage of Players
0,Gender Female 81 Male ...,Gender Female 14.062500 Male...